<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216405927971-rtafqnmh3elm0sqepsu29pf6in289mfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216405927971-rtafqnmh3elm0sqepsu29pf6in289mfu</string>
	<key>API_KEY</key>
	<string>AIzaSyAjbmnHOI1Ek_1TybRTxGqt5WVYdcFZcVo</string>
	<key>GCM_SENDER_ID</key>
	<string>216405927971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saad.personalportfolioapp</string>
	<key>PROJECT_ID</key>
	<string>personal-portfolio-app-16d18</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-portfolio-app-16d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216405927971:ios:472685bf2bb1aff2352996</string>
</dict>
</plist>